@model IEnumerable<T3_Grupo4.Models.Libro>

<h1>Lista de Libros</h1>
<p>
    <a asp-action="Crear" class="btn btn-primary">Crear Nuevo Libro</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Editorial</th>
            <th>Año de Publicación</th>
            <th>Páginas</th>
            <th>Categoría</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var libro in Model)
        {
            <tr>
                <td>@libro.Titulo</td>
                <td>@libro.Autor</td>
                <td>@libro.Editorial</td>
                <td>@libro.AnioPublicacion</td>
                <td>@libro.Paginas</td>
                <td>@libro.Categoria</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@libro.Id" class="btn btn-warning">Editar</a>
                    <a asp-action="Eliminar" asp-route-id="@libro.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
